{{/*
  Copyright 2014 Team 254. All Rights Reserved.
  Author: pat@patfairbank.com (Patrick Fairbank)

  UI for entering realtime scores.
*/}}
{{define "title"}}Scoring Panel{{end}}
{{define "body"}}
<div id="matchName">&nbsp;</div>
<div id="currentScore"></div>
<div id="alliance">
  <div class="scoring-section">
    <div class="scoring-header">
      <div>&nbsp;</div>
      <div>Mobility</div>
      <div>Stage</div>
      <div>Harmony</div>
    </div>
    {{range $i := seq 3}}

      <div>
        <div id="team{{$i}}" class="team robot-field"></div>
        <div id="mobilityStatus{{$i}}" class="boolean robot-field" onclick="handleClick('mobilityStatus', {{$i}});">
          <div class="value"></div>
        </div>
        <div id="stageStatus{{$i}}" class="endgame-status robot-field"
          onclick="handleClick('stageStatus', {{$i}});">
          <div class="value"></div>
        </div>
        <div id="harmonyStatus{{$i}}" class="boolean robot-field" onclick="handleClick('harmonyStatus', {{$i}});">
          <div class="value"></div>
        </div>
      </div>
    {{end}}
    <div>&nbsp;</div>
    <div>
      <div id="currentAmpificationCount"></div>
      <div id="ampCount"></div>
      <div id="speakerCount"></div>
      <div id="trapCount"></div>
      <div id="coopertitionStatus" class="boolean robot-field" onclick="handleClick('coopertitionStatus');">
        <div class="value"></div>
      </div>
      <div id="amplificationActive" class="boolean robot-field" onclick="handleClick('amplificationActive');">
        <div class="value"></div>
      </div>
      <div id="ampAccumulatorDisable" class="boolean robot-field" onclick="handleClick('ampAccumulatorDisable');">
        <div class="value"></div>
      </div>
    </div>
  </div>
  <div id="stage" class="scoring-section">
    <div class="goal-header">Stage Trap</div>
    {{template "goal" dict "plus" "T" "minus" "Y" "count" "trapCount1"}}
  </div>
  <div id="elements">
    <div class="scoring-section">
      <div>
        <div>&nbsp;</div>
        <div class="goal-header">Speaker</div>
        <div class="goal-header">AMP</div>
      </div>
      <div>
        <div class="goal-period">Auto</div>
        {{template "goal" dict "plus" "S" "minus" "A" "count" "autoSpeakerCount"}}
        {{template "goal" dict "plus" "W" "minus" "Q" "count" "autoAmpCount"}}
      </div>
      <div>
        <div class="goal-period">Teleop</div>
        {{template "goal" dict "plus" "F" "minus" "D" "count" "teleopSpeakerCountNotAmplified"}}
        {{template "goal" dict "plus" "R" "minus" "E" "count" "teleopAmpCount"}}
      </div>
      <div>
        <div class="goal-period">Amplified</div>
        {{template "goal" dict "plus" "H" "minus" "G" "count" "teleopSpeakerCountAmplified"}}

      </div>
    </div>
  </div>
</div>
<div id="commitMatchScore">
  <button type="button" class="btn btn-info" onclick="commitMatchScore();">
    Commit Final Match Score
  </button>
</div>
<div id="postMatchMessage">Waiting for the next match...</div>
{{end}}
{{define "head"}}
<link rel="manifest" href="/static/manifest/{{.Alliance}}_scoring.manifest">
<meta name="viewport" content="width=device-width, user-scalable=no">
<link href="/static/css/scoring_panel.css" rel="stylesheet">
{{end}}
{{define "script"}}
<script src="/static/js/match_timing.js"></script>
<script src="/static/js/scoring_panel.js"></script>
{{end}}
{{define "goal"}}
<div class="goal">
  <div class="number-button minus" onclick="handleClick('{{.minus}}');">
    <div class="shortcut">{{.minus}}</div>
    -
    <div class="shortcut" style="opacity: 0;">{{.minus}}</div>
  </div>
  <div id={{.count}}></div>
  <div class="number-button plus" onclick="handleClick('{{.plus}}');">
    <div class="shortcut">{{.plus}}</div>
    +
    <div class="shortcut" style="opacity: 0;">{{.plus}}</div>
  </div>
</div>
{{end}}


